<!DOCTYPE html>
<html>
<head>
    <title>River Water Quality Prediction Tool</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>River Water Quality Prediction Tool</h1>
    </header>

    <div class="button-container">
        <a href="{{ url_for('temperature_info') }}" class="action-button">River Water Temperature</a>
        <a href="{{ url_for('dissolved_oxygen_info') }}" class="action-button">Saturated Dissolved Oxygen</a>
    </div>

</body>
</html>
